/.vscode
/a.out
/hello
/hello.c
/hello.dSYM
/inout
/inout.dSYM
/palindrome
/palindrome.c
/palindrome.dSYM
/print_pattern
/print_pattern.c
/print_pattern.dSYM
/variable_sizes
/variable_sizes.c
/variable_sizes.dSYM